<form [formGroup]="form">
    <div class="form-group" >
        <div class="col-sm-12">
            <label for="name" class="control-label">Nom: </label>
            <input type="text" id="name" class="form-control" formControlName="name">
        </div>

        <div class="col-sm-12">
            <label for="prenom" class="control-label">Prénom: </label>
            <input type="text" id="prenom" class="form-control" formControlName="prenom">
        </div>

        <div class="col-sm-12">
            <label for="identifiant" class="control-label">Identifiant: </label>
            <input type="text" id="identifiant" class="form-control" formControlName="identifiant">
        </div>
        
        <div class="col-sm-12">
            <label for="password" class="control-label">Mot de Passe: </label>
            <input type="password" id="password" class="form-control" formControlName="password">
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
        Valider
    </button>
</form>