<div class="return">
    <img src="assets/img/back-arrow.png" (click)="return()" id="imgretour"><br>
    <p class="retour" (click)="return()">Retour</p>
</div>
<div class="recherche">
    <input placeholder="Rechercher un séjour..."  id="recherche">
</div>

<table id="servicetable">
        <tr>
            <th>IPP</th>
            <th>Nom</th>
            <th>Nom de jeune fille</th>
            <th>Prenom</th>
            <th>Naissance (Âge)</th>  
            <th>Date de début du séjour</th> 
            <th>Nom du secteur</th>     
        </tr>
</table>

<h1 id="actif">Séjour Actif</h1>
<table id="actiftable">
    <tr><th>Date de début</th><th>Date de fin</th><th>progression</th></tr>
    <tr *ngFor="let s of liste[1]" [routerLink]="['/sejour', s[0]]">
            <td>{{s[1].slice(0,10)}}</td>
            <td>{{s[2].slice(0,10)}}</td>
            <td>progression</td>
    </tr>
    <tr *ngIf="videactif"><td>pas de séjours actifs</td></tr>
</table>

<h1 id="anciens">Anciens Séjours</h1>
<table id="ancienstable">
    <tr><th>Date de début</th><th>Date de fin</th><th>progression</th></tr>
    <tr *ngFor="let s of liste[0]" [routerLink]="['/sejour', s[0]]">
        <td>{{s[1].slice(0,10)}}</td>
        <td>{{s[2].slice(0,10)}}</td>
        <td>progression</td>
    </tr>
    <tr *ngIf="videancien"><td>pas d'ancien séjours</td></tr>
</table>
