<html>   
    <body>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
        <script type="text/javascript"></script>
        
        <div class="return">
            <img src="assets/img/back-arrow.png" (click)="return()" id="imgretour"><br>
            <p class="retour" (click)="return()">Retour</p>
            <!-- <button (click)="return()">Retour</button> -->
        </div>
        <div class="recherche">
            <input placeholder="Recherche"  id="recherche">
            <svg></svg>
        </div>
        <table style="width:85%" center id="logTable">
            <tr>
            <th>ID</th>
            <th>Nom - Prénom</th>
            <th>Date</th>
            <th>Actions</th>
            </tr>
            <tr>
            <td>00655</td>
            <td>Delacroix Alexis</td>
            <td>15/06/2019 - 11:50:55</td>
            <td>il a fait ça</td>
            </tr>
        </table> 
    </body>
</html>    
